<% provide(:title,"Contact")%>
<h1>Contact</h1>

<p>
	<h3><b>Viet Nam</b></h3>
	<h4><b>K56 HEDSPI - HUST</b></h4><br>
	Email: <a href="nguyentunam.vn@gmail.com">nguyentunam.vn@gmail.com </a><br>
	Facebook: <a href="https://www.facebook.com/anhnamxtanh">Facebook</a>
</p>
